In [14]:
import pandas as pd
import numpy as np

In [15]:
df = pd.read_csv("C:/dankook/DeepLearning_Cloud/midterm_project/data/test_set.csv")
df.head()

,yymm,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V17,V18,V19,V20,V21,V22,V23,V24,V25,V26
0,0427 06:50,-4.094,15.750,0.110,-5.288,-0.196,1.548,-5.159,-0.706,-3.633,...,23.002,-1.053,-1.255,-2.244,-37.695,-4.644,-2.389,-2.841,-2.906,-0.239
1,0404 11:40,5.473,-5.417,3.110,3.172,1.114,-31.876,1.684,2.960,6.007,...,1.669,0.447,0.645,4.306,162.305,7.219,3.811,1.825,3.024,1.504
2,0424 19:30,-5.937,-11.750,-3.160,-5.874,0.904,-27.379,-9.449,0.960,-4.530,...,1.669,0.413,0.745,-2.911,2.305,-2.544,-8.022,-0.551,-6.936,2.294
3,0426 15:50,-4.327,-4.417,-2.954,-4.688,0.114,-14.582,-7.549,-0.373,-3.396,...,1.669,-0.897,-0.255,-2.727,-47.695,0.386,-6.389,-0.641,-5.036,-0.529
4,0513 13:40,4.633,-21.750,-1.420,5.487,5.014,-53.609,-1.889,0.627,6.530,...,-9.664,4.277,4.935,8.839,182.305,15.889,4.442,7.449,4.212,3.085

In [16]:
df.columns

Index(['yymm', 'V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9', 'V10',
       'V11', 'V12', 'V13', 'V14', 'V15', 'V16', 'V17', 'V18', 'V19', 'V20',
       'V21', 'V22', 'V23', 'V24', 'V25', 'V26'],
      dtype='object')

In [17]:
df.describe()

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V17,V18,V19,V20,V21,V22,V23,V24,V25,V26
count,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,...,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000
mean,-0.528238,-5.124011,-0.045091,-0.130647,1.830564,-26.358430,-1.949912,-0.638472,0.207631,-0.388098,...,-1.685649,1.129938,1.679427,2.365583,-2.768333,4.087325,-0.468281,1.312228,-0.872617,1.397457
std,3.987071,16.949067,5.098327,4.606298,1.453293,20.836967,8.096410,1.793411,4.359912,5.369960,...,9.059290,1.351072,1.602978,3.931416,92.846835,6.096899,4.094690,2.399254,4.538564,1.324078
min,-10.891000,-55.250000,-19.587000,-11.322000,-0.886000,-53.609000,-21.134000,-4.040000,-13.236000,-11.423000,...,-37.331000,-1.620000,-1.655000,-6.731000,-77.695000,-8.911000,-12.352000,-3.241000,-11.609000,-1.739000
25%,-3.705250,-17.750000,-3.330000,-3.572500,0.804000,-48.476000,-6.790000,-2.040000,-2.801250,-4.360250,...,-8.998000,0.103000,0.435000,-0.894000,-47.695000,-0.351000,-3.292000,-0.551000,-4.210750,0.471000
50%,-0.767000,-2.417000,-0.020000,-0.489500,1.304000,-25.454000,-3.249000,-1.040000,-0.560000,-1.214500,...,1.669000,0.925500,1.645000,1.939000,-37.695000,3.857000,-0.792000,1.051500,-1.583000,1.361000
75%,1.673000,9.250000,3.714750,2.512000,3.181000,-5.739000,0.491500,0.460000,2.674000,3.277000,...,1.669000,2.203000,2.850500,5.060250,2.305000,7.979000,2.348000,2.949000,1.661750,2.268250
max,11.606000,20.250000,15.606000,12.902000,5.014000,13.688000,39.317000,5.960000,17.237000,12.627000,...,27.669000,4.513000,5.345000,11.739000,802.305000,20.379000,9.984000,9.325000,12.064000,5.104000

In [19]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
# from sklearn.metrics import mean_squared_error, mean_absolute_error
import sklearn.metrics

# 데이터 불러오기
# df = pd.read_csv('your_data.csv')

# yymm 열을 날짜 포맷으로 변환
df['yymm'] = pd.to_datetime(df['yymm'], format='%Y%m')

# 종속 변수와 독립 변수 선택
# 예를 들어, V1을 예측한다고 가정
X = df.drop(columns=['yymm', 'V1'])
y = df['V1']

# 데이터 분할 (2023년 10월까지 훈련 데이터, 그 이후 테스트 데이터)
train_size = df[df['yymm'] <= '2023-10-31'].shape[0]
X_train, X_test = X[:train_size], X[train_size:]
y_train, y_test = y[:train_size], y[train_size:]

# 모델 훈련
model = LinearRegression()
model.fit(X_train, y_train)

# 예측
y_pred = model.predict(X_test)

# 성능 평가
mse = mean_squared_error(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)
print(f'MSE: {mse}, MAE: {mae}')

# 결과 시각화
plt.figure(figsize=(14, 7))
plt.plot(df['yymm'][train_size:], y_test, label='True Values')
plt.plot(df['yymm'][train_size:], y_pred, label='Predictions')
plt.legend()
plt.xlabel('Date')
plt.ylabel('V1')
plt.title('V1 Prediction')
plt.show()

ValueError: time data "0427 06:50" doesn't match format "%Y%m", at position 0. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.