In [3]:
import pandas as pd

df = pd.read_csv('./data/국립공원_생물자원현황_2022.csv', encoding='cp949')

In [4]:
df.head()

,국립공원,생물분류,종명,학명,분류명,경도,위도,조사일자,개체수
0,가야산,곤충류,Ameletus costalis,costalis,피라미하루살이,128.07811,35.81122,2022-05-21,0
1,가야산,곤충류,Anotogaster sieboldii,sieboldii,장수잠자리,128.07811,35.81122,2022-05-21,0
2,가야산,곤충류,Cinygmula grandifolia,grandifolia,봄처녀하루살이,128.07811,35.81122,2022-05-21,0
3,가야산,곤충류,Cinygmula grandifolia,grandifolia,봄처녀하루살이,128.07959,35.81062,2022-05-22,7
4,가야산,곤충류,Davidius lunatus,lunatus,쇠측범잠자리,128.07811,35.81122,2022-05-21,0

In [5]:
df.isna().sum()

국립공원    0
생물분류    0
종명      0
학명      0
분류명     0
경도      0
위도      0
조사일자    0
개체수     0
dtype: int64

In [7]:
# datetime으로 변환
df['조사일자'] = pd.to_datetime(df['조사일자'])

start_date = df['조사일자'].min()
end_date = df['조사일자'].max()

print("전체 날짜 범위: {}에서 {}까지".format(start_date, end_date))

전체 날짜 범위: 2022-05-14 00:00:00에서 2022-09-22 00:00:00까지

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 558 entries, 0 to 557
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   국립공원    558 non-null    object
 1   생물분류    558 non-null    object
 2   종명      558 non-null    object
 3   학명      558 non-null    object
 4   분류명     558 non-null    object
 5   경도      558 non-null    float64
 6   위도      558 non-null    float64
 7   조사일자    558 non-null    datetime64[ns]
 8   개체수     558 non-null    int64
dtypes: datetime64[ns](1), float64(2), int64(1), object(5)
memory usage: 39.4+ KB